body {
  margin: 0;
  font-family: 'poppins';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'poppins';
}
.p-datatable .p-datatable-thead > tr > th{
  /* background-color:  white !important; */
  color: darkgrey;
  border-color: 2px  white !important
}
.p-datatable .p-datatable-header {
  background-color: white!important;
    color: #495057;
    border: none;
    border-width: 0 0 0 0;
    padding: 1rem 1rem;
    font-weight: 600;
}
/* .p-button {
  background-color:   #74b9ff !important;
  border: 1px solid #74b9ff!important;
} */
/* .layout-menu li a:focus{
  background-color: #74b9ff!important;
  border-radius: 15px;
  
} */
/* .layout-menu li a:hover{
  background-color:  #74b9ff !important;
  transition: 0.2s;
  border-radius: 15px;
} */
.resetbutton{
  background-color:  rgb(163, 162, 162) !important;
  border-color: rgb(163, 162, 162) !important
}
.p-component{
  font-family: 'poppins'!important;
}
